<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<form action="dayXdmUpd" method="post" id="form">
		<input type="hidden" name="seq" th:value = "${item?.seq}">
		seq:<input type="text" name="seq" id="seq" th:value = "${item?.seq}" disabled>
		nick_Name:<input type="text" name="nick_Name" id="nick_Name" th:value = "${item?.nick_Name}">
		special_day:<input type="text" name="special_day" id="special_day" th:value = "${item?.special_day}">
		date:<input type="text" name="date" id="date" th:value = "${item?.date}">
		lift_force:<input type="text" name="lift_force" id="lift_force" th:value = "${item?.lift_force}">
		account_seq:<input type="text" name="account_seq" id="account_seq" th:value = "${item?.account_seq}">
		represent:<input type="text" name="represent" id="represent" th:value = "${item?.represent}">
		
		<button type="submit">등록</button>
	</form>
</body>
</html>