<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<table>
		<tr>
			<td>seq</td>
			<td>닉네임</td>
			<td>special_day</td>
			<td>date</td>
			<td>lift_force</td>
			<td>account_seq</td>
			<td>represent</td>
		</tr>
		<tr>
			<td th:text="${item.seq}"></td> 
			<td th:text="${item.nick_Name}"></td> 
			<td th:text="${item.special_day}"></td>
			<td th:text="${item.date}"></td>
			<td th:text="${item.lift_force}"></td>
			<td th:text="${item.account_seq}"></td>
			<td th:text="${item.represent}"></td>
		</tr>
	</table>
	
	<a href ="dayXdmList">목록</a>
	<a th:href ="@{dayXdmMform(seq=${item.seq})}">수정</a>
	<a href ="dayXdmList">삭제</a>
	
	
</body>
</html>