<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<table>
		<tr>
			<td>seq</td>
			<td>grou</td>
		</tr>
		<tr>
			<td th:text="${item.seq}"></td> 
			<td th:text="${item.grou}"></td>
		</tr>
	</table>
	
	<a href = "groXdmList">목록</a>

	<a th:href = "@{/groXdmMform(seq=${item.seq})}">수정</a>
	
	<a th:href = "@{/groXdmDelet(seq=${item.seq})}">삭제</a>
	
	<a th:href = "@{/groXdmUnsee(seq=${item.seq})}" id="uns">업제</a>
	
	<script type="text/javascript">
	document.getElementById("uns").onclick = function(){
		if(confirm("삭제")){
			
		}else{
			return false;
		}
	}
	
	
	</script>
	
	
</body>
</html>