<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.fapp.homepage.HomepageDao">   

	<resultMap type="com.test.fapp.homepage.HomepageDto" id="resultMapObj"></resultMap>
 
	 <select id="selectList" resultMap="resultMapObj">
	 SELECT
			a.seq,
	    	a.http,
	    	a.account_seq,
	    	a.represent
		FROM
			homepage a
			WHERE 1=1
			ORDER BY seq asc
	</select>
	
	 <select id="selectItem" resultMap="resultMapObj">
	 SELECT
			a.seq,
	    	a.http,
	    	a.account_seq,
	    	a.represent
		FROM
			homepage a
			WHERE 1=1
			And seq = #{seq}
			ORDER BY seq asc
	</select>
	
	
</mapper>