<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<table>
		<tr>
			<td>seq</td>
			<td>type</td>
			<td>number</td>
			<td>account_seq</td>
			<td>represent</td>
		</tr>
		<tr th:each ="list:${list}">
			<td th:text="${list.seq}"></td> 
			<td><a th:href= "@{/ContactAddressXdmItem(seq=${list.seq})}" th:text="${list.type}"></a></td>
			<td><a th:href= "@{/ContactAddressXdmItem(seq=${list.seq})}" th:text="${list.number}"></a></td>
			<td><a th:href= "@{/ContactAddressXdmItem(seq=${list.seq})}" th:text="${list.account_seq}"></a></td>
			<td><a th:href= "@{/ContactAddressXdmItem(seq=${list.seq})}" th:text="${list.represent}"></a></td>
		</tr>
	</table>
</body>
</html>